.why-choose-us-home .header-section{
    justify-content: center;
}
.why-choose-us-home{
    background-color: #003049;
}
.why-choose-us-home{
    padding: 80px 0px;
}
.WhyChooseUsPoint p{
    margin: 20px 0px;
}
.WhyChooseUsPoint p:before{
   content: "✔";
   margin: 0px 10px;
}
.WhyChooseUsPointsContainer{
    display: flex;
    justify-content: center;
}
.header-section h1{
    color: #003049;
}
.WhyChooseUsPointsContainer  p{
    color : #003049;
}
.why-choose-us-home{
    background-image: url('/Images/yellow bg.png');
    margin-top: 0px;

   object-fit: cover;
}

/*  */